.app[data-theme="light"] {
  --bg-color: #fdeeee;
  --bg-inverted-color: #12175d;

  --primary-color: #fd385b;
  --primary-inverted-color: #fff;
  --secondary-color: #12175d;
  --secondary-inverted-color: #fff;
}
